.contact-card {
    border: var(--border-width) solid var(--color-base-50);
    padding: var(--size-4-1);
    padding-top: 0;
    border-radius: var(--radius-s);
    background-color: var(--background-primary-alt);
    max-width: var(--metadata-max-width);
}

.contact-card .contact-name {
    color: var(--h5-color);
    font: var(--h5-font);
    line-height: var(--h5-line-height);
    font-size: var(--h5-size);
    font-style: var(--h5-style);
    font-variant: var(--h5-variant);
    font-weight: var(--h5-weight);
}

.contact-card .contact-name,
.contact-card .contact-field {
    margin: var(--size-4-1);
}
